/* Variabes */  



/* Mixin's */  
 transition {
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}
 corners {
-moz-border-radius: -moz-border-radius;
-webkit-border-radius: radius;
border-radius: radius; 
-khtml-border-radius: radius; 
}

body {
background: blueviolet;
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
height:100%;
}

.wrapper {
width: 800px;
margin: 50px auto;
color: powderblue;
text-align:center;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 2.6em;
  text-transform: uppercase;
}

#seconds, #tens{
  font-size:4em;
  color: blue;
}

button{
background: white;
color: blue;
border: solid 1px white;
text-decoration:none;
cursor:pointer;
font-size: 1.2em;
padding: 18px 10px;
width: 180px;
margin: 10px;
outline: none;


}
 hover button{

	background: yellowgreen;
	border: solid 1px white;
	color: yellowgreen;
	}
